name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  # ==================================================================================== #
  # BUILD DISTRIBUTION
  # ==================================================================================== #
  build:
    name: Build Distribution
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v6
        with:
          enable-cache: true

      - name: Build package
        run: uv build

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: dist/

  # ==================================================================================== #
  # PUBLISH TO PYPI
  # ==================================================================================== #
  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/project/litestar-storages/
    steps:
      - name: Download distribution artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0

  # ==================================================================================== #
  # UPLOAD TO GITHUB RELEASE
  # ==================================================================================== #
  github-release:
    name: Upload to GitHub Release
    runs-on: ubuntu-latest
    needs: publish-pypi
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Download distribution artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: Sign distributions with Sigstore
        uses: sigstore/gh-action-sigstore-python@f832326173235dcb00dd5d92cd3f353de3188e6c # v3.1.0
        with:
          inputs: ./dist/*.tar.gz ./dist/*.whl

      - name: Upload to GitHub Release
        run: gh release upload "${TAG_NAME}" dist/** --repo "${GITHUB_REPOSITORY}"
        env:
          GH_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ github.event.release.tag_name }}